.Game-Left {
    float:left;
    display:inline-block;
    width:20%;
}

.Game-Right {
    float:right;
    display:inline-block;
    width:80%;
}

.Game {
    width: 100%;
}

.PlayerNames{
    margin: 20px auto 20px auto;
    font-size: 20px;
}

.PlayerNames th {
    font-weight: normal;
}

.Boards{
    margin: 10px auto 10px auto;
    border: 1px solid black;
}

.Card{
    width: 100px;
    height: 130px;
    margin: 10px 10px 10px 10px;
    background-color: #80808021; /* Light Grey Color */
    border: 1px solid black;
}

.Card img {
    border: 2px solid black;
}

.Circle{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 10px 10px 10px 10px;
    background-color: #80808021; /* Light Grey Color */
    border: 2px solid black;
}

#CircleSelect {
    background-color: black;
}

#DisplayButton {
    display: flex;
    justify-content: center;
}

#DisplayButton button {
    font-size: 20px;
}

.BoardTitles {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 13px;
}

#bold {
    font-weight: bold;
}

.Icon{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0px;
    border: 1px solid black;
}

#IconPrez{
    background-color: gold;
}

#IconChan{
    background-color: #e07e58; /* Orange-Red Color */
}

/* remove this */
.policy-content{
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.policyCard{
  margin:5%;

  border: 1px solid black;
}
.policyCard > button {
  padding:0px;
}
#Good {
    background-color: greenyellow;
}

#Evil {
    background-color: red;
}

.modal > .header {
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  margin: auto;
}
