#Title {
    flex-grow: 2;
    text-align: center;
}

#RoomCode {
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
}

#RoomCode p {
    font-size: 30px;
    margin: 15px;
}

#Top {
    flex-wrap: wrap;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 20px;
}
