
.Lobby {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 20px;
}

.LobbyPlayerNames{
    margin: 20px auto 20px auto;
    font-size: 20px;
}

.LobbyPlayerNames th {
    font-weight: normal;
}

.Lobby-Right{
    display: flex;
    justify-content: center;
}

.LobbyStartLink{
    text-decoration: none;
}

.LobbyStartButton{
    border: 1px solid black;
    color: black;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    width: 50%;
}
